.convo-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 91vh;
}

.convo-header {
  flex: 1 100%;
  height: 12%;
  padding: 10px;
}

.convo-header-nav {
  // display: flex;
  // flex-wrap: nowrap;
  // justify-content: space-between;
}

.convo-mobile-modal-button {
  display: none;

  @media (max-width: 768px) {
    display: inline-block;
  }
}

.convo-header-title {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}

.convo-header-hud {
  display: 'inline-block';
}

.convo-messages-outer {
  flex: 1 100%;
  height: 73%;
  padding-left: 10px;
  // border-top: 2px solid lightgray;
}

.convo-messages-inner {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
}

// .convo-load-button {
//   border: 1px solid gray;
// }

// .convo-messages-content {
//   border: 1px solid gray;
// }

.convo-input-outer {
  flex: 1 100%;
  height: 15%;
  padding: '10px';
  color: white;
  padding-top: 10px;
  // border-top: 2px solid lightgray;
}

.convo-input-inner {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
}

.convo-input-form {
  display: flex;
  box-sizing: border-box;
  height: 64px;
}

.convo-input-text {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: $custom-primary;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: $border-radius;
  margin-right: 12px;

  &:required,
  &:focus, 
  &:valid,
  &:invalid {
    border: 1px solid #ced4da;
  }
}

.convo-sidebar-toggle {
  display: inline-block;
  
  .btn-link {
    color: $custom-primary;
  }

  @media (max-width: 768px) {
    display: none;
  }
}