.create-channel-form {
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  height: 3.6rem;
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.create-channel-form > input {
  flex: 1 1 100%;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
}

.create-channel-form_input {
  border: 0 !important;
}

.create-channel-form > button > input {
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.create-channel-form > * {
  margin-right: 0.38rem;
}

.create-channel-form button {
  position: relative;
  border: 0;
  padding: 0;
  background: #fff;
}

.create-channel-form svg {
  width: 2rem;
  height: 2rem;
  fill: #006eff;
}

.create-channel-form input[type='checkbox']:not(:checked) + svg {
  opacity: 0.38;
}
