// Global styling for this template

::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;

}

input[type="text"], input[type="password"], input[type="radio"], input[type="text"]:disabled, textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

button, a, button.close, .btn-link {
  outline: none;
  box-shadow:none !important;
  border:none !important;
}

.bg-custom {
  background-color: $custom-primary;
}

.page-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
}

#wrapper {
  display: flex;
  #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: $sticky-footer-height;
  }
}
// Fixed Nav Option
body.fixed-nav {
  #content-wrapper {
    margin-top: $navbar-base-height;
    padding-left: $sidebar-collapsed-width;
    padding-bottom: 0px;
    padding-bottom: $sticky-footer-height;
  }
  &.sidebar-toggled {
    #content-wrapper {
      padding-left: 0;
      padding-bottom: $sticky-footer-height;
    }
  }
  @media (min-width: 768px) {
    #content-wrapper {
      padding-left: $sidebar-base-width;
      padding-bottom: $sticky-footer-height;
    }
    &.sidebar-toggled {
      #content-wrapper {
        padding-left: $sidebar-collapsed-width;
        padding-bottom: $sticky-footer-height;
      }
    }
  }
}

#unlogged-wrapper {
  display: flex;
  #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: $sticky-footer-height;
  }
}
// Fixed Nav Option
body.fixed-nav {
  #content-wrapper {
    margin-top: $navbar-base-height;
    padding-left: $sidebar-collapsed-width;
    padding-bottom: $sticky-footer-height;
  }
  &.sidebar-toggled {
    #content-wrapper {
      padding-left: 0;
      padding-bottom: $sticky-footer-height;
    }
  }
  @media (min-width: 768px) {
    #content-wrapper {
      padding-left: $sidebar-base-width;
      padding-bottom: $sticky-footer-height;
    }
    &.sidebar-toggled {
      #content-wrapper {
        padding-left: $sidebar-collapsed-width;
        padding-bottom: $sticky-footer-height;
      }
    }
  }
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;

  color: white;
  background: transparent;

  line-height: 45px;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: transparent;
  }
  i {
    font-weight: 800;
  }
}

#incoming_message {
  width: 50%;

  @media (max-width: 600px) {
    width: 80%;
  }
}

#outgoing_message {
  width: 50%;

  @media (max-width: 600px) {
    width: 80%;
  }
}