.card-header {
  text-align: center;
}

.form-sizer {
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 600px) {
  .form-sizer {
    margin-left: 2%;
    margin-right: 2%;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

th {
  min-width: 120px;
}

textarea,
select,
input,
button,
input[type="text"],
input[type="password"],
input[type="radio"],
input[type="text"]:disabled,
textarea {
  outline: none;
  border: 1px solid #ccc !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea, select, input, button {
  outline: none;
}

textarea, select, input, button {
  outline: 0;
}

button, button.close, .btn-link {
  color: #26313d;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

button:hover, button.close:hover, .btn-link:hover {
  color: #26313d;
  text-decoration: none;
}

a,
a:link,
a:visited {
  color: blue;
  outline: 0;
  border: 0;
}

a:hover, a:active,
a:link:hover,
a:link:active,
a:visited:hover,
a:visited:active {
  color: darkblue;
  text-decoration: none;
}

a.button-link {
  color: white !important;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.bg-custom {
  background-color: #26313d;
}

.page-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 0;
}

body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 290px;
  padding-bottom: 0px;
  padding-bottom: 0;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
    padding-bottom: 0;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 290px;
    padding-bottom: 0;
  }
}

#unlogged-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#unlogged-wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0;
}

body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 290px;
  padding-bottom: 0;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
    padding-bottom: 0;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 290px;
    padding-bottom: 0;
  }
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: transparent;
  line-height: 45px;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: transparent;
}

.scroll-to-top i {
  font-weight: 800;
}

/* #incoming_message {
  width: 50%;

  @media (max-width: 600px) {
    width: 80%;
  }
}

#outgoing_message {
  width: 50%;

  @media (max-width: 600px) {
    width: 80%;
  }
} */
.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-custom {
  background-color: #26313d;
  color: #fff;
}

.navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
  color: #fff;
}

.navbar-custom a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-custom a:active, .navbar-custom a:focus, .navbar-custom a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-custom a.dropdown-item {
  color: rgba(0, 0, 0, 0.8);
}

.navbar-custom a.dropdown-item:active, .navbar-custom a.dropdown-item:focus, .navbar-custom a.dropdown-item:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 290px !important;
  background-color: #495057;
  min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  width: 290px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(290px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #868e96;
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 290px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    width: 290px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(290px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

#mobile-menu {
  z-index: 1000;
  position: absolute;
  width: 100%;
  background: #495057;
}

#mobile-menu .nav-item .nav-link {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}

#mobile-menu .nav-item .nav-link:active, #mobile-menu .nav-item .nav-link:focus, #mobile-menu .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #868e96;
}

#mobile-menu a {
  color: rgba(255, 255, 255, 0.8);
}

#mobile-menu a:active, #mobile-menu a:focus, #mobile-menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.channels-modal {
  display: block;
}

@media (min-width: 768px) {
  .channels-modal {
    display: none;
  }
}

.channels-list {
  display: none;
}

@media (min-width: 768px) {
  .channels-list {
    display: block;
  }
}

.mobile-channels-list {
  border-radius: 0.3rem;
  background-color: #495057;
}

.mobile-channels-list .channels-item {
  padding: 14px 9px;
  background: transparent;
}

.mobile-channels-list .channels-item .channels-link {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-decoration: none;
  padding: 14px 9px;
  color: rgba(255, 255, 255, 0.8);
}

.mobile-channels-list .channels-item .channels-link:active, .mobile-channels-list .channels-item .channels-link:focus, .mobile-channels-list .channels-item .channels-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.invite-link {
  color: rgba(255, 255, 255, 0.8);
}

.invite-link:active, .invite-link:focus, .invite-link:hover {
  text-decoration: none;
  color: #fff;
}

.new-channels-link {
  color: rgba(255, 255, 255, 0.8);
}

.new-channels-link:active, .new-channels-link:focus, .new-channels-link:hover {
  text-decoration: none;
  color: #fff;
}

.new-invite-link {
  margin-left: 5px;
  background-color: rgba(134, 142, 150, 0.5);
}

.new-invite-link:active, .new-invite-link:focus, .new-invite-link:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: #868e96;
}

.new-invite-link a {
  color: rgba(255, 255, 255, 0.8);
}

.new-invite-link a:active, .new-invite-link a:focus, .new-invite-link a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.new-channels .new-channels-link {
  width: 80%;
  float: left;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(134, 142, 150, 0.4);
  padding: 6px 10px 6px 10px;
  margin-bottom: 10px;
  margin-left: 6px;
}

.new-channels .new-channels-link:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(134, 142, 150, 0.8);
}

.new-channels .new-channels-invite {
  width: 10%;
  float: left;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(134, 142, 150, 0.4);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 12px 22px 12px 10px;
}

.new-channels .new-channels-invite:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(134, 142, 150, 0.8);
}

.new-mobile-channels .new-mobile-channels-link {
  width: 85%;
  float: left;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  color: #26313d;
  color: rgba(38, 49, 61, 0.8);
  background-color: rgba(134, 142, 150, 0.45);
  padding: 6px 10px 6px 10px;
  margin-bottom: 10px;
  margin-left: 6px;
}

.new-mobile-channels .new-mobile-channels-link:hover {
  color: #26313d;
  background-color: rgba(134, 142, 150, 0.25);
}

.new-mobile-channels .new-mobile-channels-invite {
  width: 10%;
  float: left;
  color: rgba(38, 49, 61, 0.8);
  background-color: rgba(134, 142, 150, 0.45);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 12px 22px 12px 10px;
}

.new-mobile-channels .new-mobile-channels-invite:hover {
  color: #26313d;
  background-color: rgba(134, 142, 150, 0.25);
}

.add-user-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  overflow: auto;
}

.add-user-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.add-user-modal-content {
  background: #fefefe;
  margin: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.add-user-modal-body {
  padding: 1rem;
}

.add-user-modal-inputbox {
  padding: 14px 18px;
}

.sidebar.fixed-top {
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.convo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 91vh;
}

.convo-header {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  height: 12%;
  padding: 10px;
}

.convo-mobile-modal-button {
  display: none;
}

@media (max-width: 768px) {
  .convo-mobile-modal-button {
    display: inline-block;
  }
}

.convo-header-title {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}

.convo-header-hud {
  display: 'inline-block';
}

.convo-messages-outer {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  height: 73%;
  padding-left: 10px;
}

.convo-messages-inner {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.convo-input-outer {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  height: 15%;
  padding: '10px';
  color: white;
  padding-top: 10px;
}

.convo-input-inner {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
}

.convo-input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 64px;
}

.convo-input-text {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #26313d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  margin-right: 12px;
}

.convo-input-text:required, .convo-input-text:focus, .convo-input-text:valid, .convo-input-text:invalid {
  border: 1px solid #ced4da;
}

.convo-sidebar-toggle {
  display: inline-block;
}

.convo-sidebar-toggle .btn-link {
  color: #26313d;
}

@media (max-width: 768px) {
  .convo-sidebar-toggle {
    display: none;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.card-account {
  color: #fff;
}

.card-account a {
  color: #fff;
}

.card-account .card-body {
  padding: 5%;
  text-align: center;
}

.card-plain {
  border: none;
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

#sidenavToggler {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 290px);
  height: 0;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 290px);
  }
}

.btn {
  border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-custom {
  background: #26313d;
  color: #ffffff;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open > .dropdown-toggle.btn-custom {
  background: #303e4d;
  color: #ffffff;
}

.btn-custom:active, .btn-custom.active {
  background: #12181e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}
