// Color support for .navbar-dark

#mainNav.navbar-dark {
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse:after {
        color: white;
      }
      > .nav-item {
        > .nav-link {
          color: $gray-400;
          &:hover {
            color: $gray-300;
            background-color: rgba(0, 0, 0, 0.40);
          }
        }
        .sidenav-second-level,
        .sidenav-third-level {
          > li > a {
            color: white;
            &:focus,
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .navbar-nav > .nav-item.dropdown > .nav-link:after {
      color: $gray-500;
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        background: rgba(0, 0, 0, 0.350);
        li {
          &.active {
            a {
              color: white !important;
              background-color: rgba(0, 0, 0, 0.350);
              &:focus,
              &:hover {
                color: white;
              }
            }
          }
        }
        > .nav-item {
          .sidenav-second-level,
          .sidenav-third-level {
            background-color: rgba(0, 0, 0, 0.20);
          }
        }
      }
    }
  }
}