import React from 'react';
import ReactDom from 'react-dom';

import ApplicationLayout from './layout/application';

class {{page_name}}Page extends React.Component{
    constructor(props){
        super(props);
    }


    render(){
        return(
            <ApplicationLayout data={this.props}>
                <h1 className="text-center">{{original_name}}</h1>

                <div id="{{page_name}}Component">

                </div>
            </ApplicationLayout>
        )
    }
};

module.exports= {{page_name}}Page;