import React from 'react';
import ApplicationLayout from './layout/application.jsx';

class {{page_name}}Page extends React.Component {
  render() {
    return (
        <ApplicationLayout data={this.props}>
            <h1 className="text-center">{{original_name}}</h1>

        </ApplicationLayout>
    );
  }
};

module.exports = {{page_name}}Page;
